.smallImage {
    display: flex;
    flex-direction: column;

}
.smallImage img {
    height: 55px;
    width: 55px;
    margin-left: .3rem;
    margin-bottom: 1rem;
    object-fit: contain;
    cursor: pointer;
    opacity: 1;
    filter: grayscale(0);
}
.smallImage img:hover {
    opacity: .7;
    border: 1px solid black;
    filter: grayscale(100%);
}

#mainimage {
    height: 90%;
    width: 100%;
    object-fit: fill;
}
.rowsticky {
    height: 100vh;
}

.rowimage {
    height: 85vh!important;
}

@media (max-width: 576px) {
    .smallImage {
        flex-direction: row;
        overflow-x: scroll;
        width: 100%;
    }
    .rowabsolute {
        flex-direction: column!important;
        position: static!important;
        padding: 0!important;
    }
    .rowsticky {
        position: static!important;
        margin-left: .5rem!important;
    }

    .rowimage {
        height: 40vh!important;
        width: 100%!important;
    }
    .rowsticky {
        height: auto;
    }
}