.fcol {
	padding-left: 6rem;
}

.flist li {
	padding-top: .5rem;
}
.flist li a {
	text-decoration: none;
	transition: all 3s ease;
}
.flist li a:hover {
	border-bottom: 1px solid currentColor;
}

.socialiconrow {
	position: fixed;
	flex-direction: column;
	top: 30%;
	left: 2%;
	min-height: 10%!important;
	width: auto;
}
.socialiconcol {
    margin-bottom: 10px;
    font-size: 25px;
    border-radius: 11px;
    width: 2.5rem;
    padding: 0px 7px;
    height: 43px;
}

@media (max-width: 576px) {
    .socialiconrow {
        position: static;
        flex-direction: row;
        top: 30%;
        left: 2%;
        min-height: 10%!important;
        width: 100%;
        justify-content: center;
        align-items: center;
        /* padding: 0; */
        margin: 0;
    }
    .socialiconcol {
        margin: 0px !important;
        font-size: 25px;
        border: none;
        border-radius: 0;
        padding: 0 11px 0 11px;
        width: auto;
        flex: 0 0 0%;	
    }
    
    .fcol {
        padding-left: 1rem;
        width: 100%;
        overflow: hidden;
        margin-top: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #d6d6d6;
    }
    
    
    .fcol img {
        width: 100%;
    }
}