.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.slick-dots li.slick-active button:before {
  display: none;
}
.slick-dots li button:before {
  display: none;
}

.slick-dots li {
  width: 50px!important;
}

.slick-active button {
  opacity: 1!important;
}

/* this is trending  */

div.marketing {
	width: 100%;
	padding-left: 5px;

}

div.trending {
	transition: background-color 1s;
	height: fit-content;
}

div.trending .col {
    display: inline-block;
    width: 214px;
    margin-right: 9px!important;
    margin-bottom: 1.5rem!important;
    background-color: white;
    position: relative;
    height: 368px;
    max-height: 396px;
    overflow: hidden;
    transition: all .7s ease;
	
}


div.trending .col:hover {
	box-shadow: 0rem 0 0.9rem #888888 !important;
	border-radius: 12px;
	border: 1px solid rgb(24, 24, 24);
}

div.trending .col:hover .pimg{
	transform: scale(1.2, 1.3);
}
div.trending .col:hover .itemHover{
	opacity: 1;
	cursor: pointer;
}

div.trending div.pbody {
	max-height: 70%;
	height: 214px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

div.trending div.pbody .pimg{
	height: 100%;
	width: 100%;
	transition: transform 0.8s ease;
	
}


.itemimg {
	display: none;
}

div.trending div.card-body {
	height: fit-content;
	padding: 7px 5px 5px 6px;
}

div.trending div.pname {
	max-height: 25%;
	height: fit-content;
	text-align: center;
	padding-top: 3px;
	width: 100%;
}

.slick-slide {
  padding : 6px 5px 0 3px;
}

.itemHover {
	position: absolute;
	bottom: 0;
	left: 15px;
	padding-top: 6px;
	opacity: 0;
	width: 100%;
	transition: all 1.5s ease;
	padding-bottom: 10px;
}

.itemHover p {
	color: white;
	margin-top: -8px;
}




/* this is item  */
.row {
	min-height: 100%;
}

div.rr {
	opacity: 1;
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}

div.rr .col {
	width: 19.3%;
    margin-right: 6px!important;
    margin-bottom: 1.5rem!important;
    background-color: white;
	position: relative;
	height: 300px;
	overflow: hidden;
	transition: all .7s ease;
	
}

div.rr .col:hover {
	box-shadow: 0rem 0 0.9rem #888888 !important;
	border-radius: 12px;
	border: 1px solid rgb(24, 24, 24);
}

div.rr .col:hover .pimg{
transform: scale(1.2, 1.3);
}
div.rr .col:hover .itemHover{
	opacity: 1;
	cursor: pointer;
}

div.pbody {
	height: 69%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

div.pbody .pimg{
	height: 100%;
	width: 100%;
	transition: transform 0.8s ease;
	
}


.itemimg {
	display: none;
}

div.rr div.card-body {
	height: 17%;
	padding: 0 5px 5px 6px;
}

.pname {
	height: 14%;
	text-align: center;
    padding-top: 3px;
    width: 100%;
}

.itemHover {
	position: absolute;
    bottom: 0;
    left: 15px;
    padding-top: 6px;
    opacity: 0;
    width: 100%;
    transition: all 1.5s ease;
    padding-bottom: 10px;
}

.itemHover p {
	color: white;
	margin-top: -8px;
}


#bkashPayment {
	display: none;
}

li svg {
	color: green;
}

hr {
	margin: 0!important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* this is trending prev next btn  */
.prevbtn, .nextbtn {
  position: absolute;
  top: -47px;
  height: 2.4rem;
  bottom: 0;
  z-index: 1;
  width: 4%;
  padding: 0;
  /* color: #fff; */
  text-align: center;
  /* background: 0 0; */
  /* border: 0; */
  opacity: 1;
  transition: opacity .15s ease;

}

.prevbtn{
  right : 6%
}

.nextbtn {
  right: 0;
}

/* this is for mobile sceen  */

@media (max-width: 576px) {
  /* this is trending prev next button */
  .prevbtn, .nextbtn{
    width: 15%;
  }
  .prevbtn{
    right: 19%;
  }
  .nextbtn{
    right: 2%;
  }

  div.marketing h2 {
    display: inline-block;
    width: 60%;
		font-size: .8rem;
	}

	hr {
		margin: -3px 0 0 0!important;
	}

  #mobilenav {
		display: block;
		border-top: 1px solid rgb(207, 207, 207);
	}
	.header {
		background-color: rgb(247, 247, 247);
	}
	.navbarbrand{
		width: 92%;
	    white-space: normal;
    }

	.searchlabel {
		left: 35px;
	}
	
	.searchform, .btntoggle, .navbar-collapse {
		display: none;
	}

	#searchfloating {
		width: 195px;
	}

	.showsearch {
		display: block!important;
	}
	.navul2 {
		flex-direction: row;
        width: 100%;
        justify-content: center;
        height: 45px;
	}

	.nav-link {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.navitem a {
		color: rgb(0, 0, 0);
		font-size: 13px;
		text-decoration: none;
		padding: 0px 8px!important;
		border: none;
		/* border-bottom: 1px solid #bbbbbbc7; */
		margin-left: 10px;
		text-align: center;
	
	}
	.navitem a:hover {
		color: currentColor;
		font-size: 13px;
		text-decoration: none;
		border: none;
		/* border-bottom: 1px solid #bbbbbbc7; */
		background: none;
	}

	#btnnav {
		padding: 3px 0px 0 20px;
	}

	.btntoggles {
	    border: none;
        margin-right: 0px;
        height: 36px;
        width: 100%;
        padding: 0px 0px;
        overflow: hidden;
	}

	.bar1, .bar2, .bar3 {
		width: 24px;
		height: 2px;
		background-color: #333;
		margin: 6px 0;
		transition: 0.4s;
	}

	.searchform {
		width: 65vw;
	}

	.lcontainer {
		margin-top: 30%;
		width: 85%;
		overflow: scroll;
	}

	.lcontainer2 {
		margin-top: 30%;
		width: 85%;
		overflow: scroll;
	}

	.cart {
		padding-bottom: 16px;
		padding-top: 0;
		background-size: cover;
		height: 18px;
		width: 15px;
		/* margin-top: 5px; */
		color: white;
		background-position: center center;
		text-align: center;
		justify-content: flex-end;
		font-size: 12px;
	}

	.mcart {
		display: none;
		opacity: 0;
	}
	/* #cartButton {
		width: 100%;
		/* padding: 5px 1px; */
		/* margin-top: 5px; */
		/* margin-left: 10px; */
		/* height: 30px; */
		/* font-size: 14px; */
		/* padding: 0 0 2px 0; */
	/* } */ 
	#cartButton1 {
		width: 100%;
		/* padding: 5px 1px; */
		margin-top: 5px;
		/* margin-left: 10px; */
		height: 30px;
		font-size: 14px;
		padding: 0 0 2px 0;
	}

	.trendinghead {
		border-bottom: 1px solid green;
        display: inline-block;
        margin: 0px 0 -10px 0;
        width: 153px;
        text-align: left;
	}

	
	.pname {
	    height: 25%;
        text-align: center;
        padding: 10px 5px 0px 5px;
        width: 100%;
	}

	.pbody {
		display: none;
	}

  div.trending .col {
    box-shadow: 0rem 0 0.9rem #888888 !important;
		border-radius: 12px;
		/* border: 1px solid rgb(24, 24, 24); */
		margin-right: 12px!important;
		background-color: white;
		margin-left: 0!important;
		margin-bottom: 1.5rem!important;
		/* border-radius: 15px; */
		position: relative;
		height: 358px;
    max-height: 390px;
		overflow: hidden;
		flex: 0 0 auto;
		/* width: 46%; */
		padding: 10px 0 0 0;
  }

  div.trending div.itemimg{
    max-height: 35%;
    overflow: hidden;
		width: 100%;
		display: flex;
		justify-content: center;
  }

  div.trending div.pname {
		max-height: 23%;
    text-align: center;
    padding: 10px 5px 0px 5px;
    width: 100%;
	
	}
  div.trending div.card-body {
		max-height: 42%;
		padding: 2px 10px 3px 10px!important;
		width: 100%;
		overflow: hidden;
	
	}

  div.trending .col:hover {
		border: 0;
	}
	div.trending .col:hover .pimg {
		transform: scale(1, 1);
	}


	h2 {
		font-size: 16px;
	}

	hr {
		margin: -3px 0 0 0!important;
	}		

	.itemimg {
		height: 34%;
		overflow: hidden;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.pimg {
		height: 100%!important;
    width: 98px!important;
	}
	
	.col img {
		height: 170px ;
		width: 100% ;
	}

	#lgimg {
		display: none;
	}

	div.rr {
		padding-left: .5rem;
		padding-right: 0rem;
	}

	div.rr .col {
		box-shadow: 0rem 0 0.9rem #888888 !important;
		border-radius: 12px;
		/* border: 1px solid rgb(24, 24, 24); */
		margin-right: 12px!important;
		background-color: white;
		margin-left: 0!important;
		margin-bottom: 1.5rem!important;
		/* border-radius: 15px; */
		position: relative;
		height: 328px;
		overflow: hidden;
		flex: 0 0 auto;
		width: 46%;
		padding: 10px 0 0 0;
	}

	div.rr div.card-body {
		height: 38%;
		padding: 2px 10px 3px 10px!important;
		width: 100%;
		overflow: hidden;
	
	}

	div.rr .col:hover {
		border: 0;
	}
	div.rr .col:hover .pimg {
		transform: scale(1, 1);
	}


	.card-body p {
		margin-top: 5px;
		margin-bottom: 10px;
		font-size: 8px;
	}

	.card-text {
		margin: 5px 0 0 0!important;
	}
	.card-text p {
		font-size: 14px;
	}

	.Mbutton {
		visibility: visible;
	}

	.itemHover {
		display: none!important;
	}

	div.rr .col .itemHover:hover {
		visibility: hidden;
		cursor: unset;
		
	}

	.loading {
		background-size: 100% 40%;
	}

	#chatbody {
		right: 1%;
	}

	.socialiconrow {
		position: static;
		flex-direction: row;
		top: 30%;
		left: 2%;
		min-height: 10%!important;
		width: 100%;
		justify-content: center;
		align-items: center;
		/* padding: 0; */
		margin: 0;
	}
	.socialiconcol {
		margin: 0px !important;
		font-size: 25px;
		border: none;
		border-radius: 0;
		padding: 0 11px 0 11px;
		width: auto;
		flex: 0 0 0%;	
	}

	.fcol {
		padding-left: 1rem;
		width: 100%;
		overflow: hidden;
		margin-top: 20px;
		padding-bottom: 15px;
		border-bottom: 1px solid #d6d6d6;
	}


	.fcol img {
		width: 100%;
	}


}